.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 21px;
  background-color: lightblue;
  color: #424242;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

@media (max-width: 840px) {
  .header {
    padding: 12px;
  }
}